#canvas
{
    border: 1px solid grey;
}

/*@media (min-width: 512px) and (max-width: 1024px)
{*/
    #canvas
    {
        position: relative;
        left: 10vw;
        width: 80vw;
        height: 45vw;
    }
/*}*/
